
/* FIN DU RESET */

html{
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dddcd8;
    margin: 0 auto;
}

/* ALL */
main{
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: absolute;
    top: 0;
    box-sizing: border-box;
}

/* NAV */
nav{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 300;
    width: 100%;
    gap: 0.5em;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 1s;
    box-sizing: border-box;
}
nav, nav ul{
    display: flex;
}

nav ul{
    width: 100%;
    justify-content: flex-start;
    gap: 0.5em;
    color: white;
    list-style-type: none;
}

.ul-hidden{
    padding: 0;
    margin: 0;
}

ul li:hover{
    color: rgb(182, 18, 100);
}
nav p{
    color: rgb(182, 18, 100);
    margin: 0;
}

.nav-hidden{
    display: none;
}

header{
    position: relative;
    z-index:2;
}
/* FIRST PART */
.red{
    color:rgb(182, 18, 100);
}


h1{
    font-size: 3.8rem;
    font-weight: 300;
    margin: 0 0 5px 0;
    width: 100%;
}

.first-section, .sub-section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

}

.spam-museum{
    height: 100%;
    min-width: 50%;
    text-align: center;
    color: white;
}

.illustration, .illustration-main{
    max-width: 50%;
    height:auto;  
}

.illustration-main img, .illustration img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* SUB SECTIONS */

.content{
    width: 60%;
    display: flex;
    justify-content: center;
}
.text-content{
    text-align: center;
    line-height: 2em;
    width: 70%;
}

h2{
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 300;
}
/* RESPONSIVE SETUPS */

@media (max-width: 1250px){
    h1{
        font-size: 2.8rem;
    }
}

@media (max-width: 976px){

    .ul-hidden{
        display: none;
    }

    .nav-hidden{
        display: block;
    }

    nav{
        justify-content: space-between;
        /* background-color: #f1c6e7; */
    }
    section{
        padding: 0;
    }

    .sub-section{
       gap : 0; 
    }

     .first-section{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap:0;
    }
    .illustration, .illustration-main{
        max-width: 100%;
    }

    h1{
        display: none;
    }

    .content{
        min-width: 50%;
    }

    .icone-bonbon{
        display: none;
    }

    .text-content{
        width: 80%;
    }

}

@media (max-width: 770px){
    main{
        gap: 0;
    }

    .sub-section{
        flex-direction: column;
    }

    section:nth-of-type(2n){
        flex-direction: column-reverse;
    }

    .content{
       width: 100%;
        box-sizing: border-box;
        padding: 20px;
     }
}
